/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.overlay {
    opacity: 1;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  #myNav.overlay-open #hamburger-icon {
    display: none; /* Hide the hamburger icon when the overlay is open */
  }
html {
    scroll-behavior: smooth;
}
@media screen and (max-width: 625px) {
  #DepressionImage, #DepressionImage2, #DepressionImage3 {
    display: none;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.overlay a {
    font-size: 40px
}

.overlay .closebtn {
    font-size: 40px;
    top: 11px;
    right: 35px;
}


  .hero-image {
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/pexels-photo-247314.webp");
      grid-column: 1/5;
      grid-row: 1/9;   

      /* Set a specific height */
      height: 124.9%;

      /* Position and center the image to scale nicely on all screens */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: 'Oswald';
    }
    #Welcome {
        font-size: 48px;
        margin-bottom: 24px;

    }
    #About {
        font-size: 30px;

    }
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: white;
      }

      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -7px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .Navagation {
        display: none;
      }
      #LOGO {
        display: none;
      }
      .demo {
        position: relative;
        top: 200px;
        line-height: 1.4;
        grid-row: 10/30;
        grid-column: 2/4;
      }     
      .demo h1 {

        font-size: 48px;
        text-align: center;
        margin-bottom: 24px;
        font-family: 'Oswald';
      }
      .demo p {

        font-size: 20px;
        margin-bottom: 24px;
        font-family: 'Oswald';
        text-align: center;
      }


      .demo2 {
        position: relative;
        top: 1600px;
        line-height: 1.4;
        grid-row: 10/30;
        grid-column: 2/4;
      }
      .demo2 h1 {

        font-size: 48px;
        margin-bottom: 24px;
        font-family: 'Oswald';
        text-align: center;
      }
      .demo2 p {

        font-size: 20px;
        margin-bottom: 24px;
        font-family: 'Oswald';
        text-align: center;
      }



      .demo3 {
        position: relative;
        top: 2800px;
        line-height: 1.4;
        grid-row: 10/30;
        grid-column: 2/4;

      }


      .demo3 h1 {

        font-size: 48px;
        margin-bottom: 24px;
        font-family: 'Oswald';
        text-align: center;
      }
      .demo3 p {

        font-size: 20px;
        margin-bottom: 24px;
        font-family: 'Oswald';
        text-align: center;
      }
      #LogoMobile {
        font-family: 'Oswald';
        z-index: 2;
        font-weight: 500;
        font-size: 32px;
        grid-row: 1;
        grid-column: 1/4;
        padding: 24px;
        color: white;
    } #Hamburger {
        margin-top: 3px;
        z-index: 1;
        grid-column: 4;
        grid-row: 1;
        padding: 40px;
        color: white;
    }
    #DepressionImage {
        position: relative;
        top: 200px;
        grid-row: 10/15;
        grid-column: 2/5;

        width: 500px;
        margin-left: 690px;

    }
    #DepressionImage2 {
        position: relative;
        top: 845px;
        grid-row: 10/15;
        grid-column: 2/5;

        width: 400px;
        margin-left: 815px;

    }
    #DepressionImage3 {
        position: relative;
        top: 1350px;
        grid-row: 10/15;
        grid-column: 2/5;

        width: 500px;
        margin-left: 750px;

    }
      #myBtn {
        z-index: 1;
        color:#ffffff;
        background-color: #343131;
        border-color: transparent;
        border-radius: 20px;
        width: 150px;
        height: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0;

        font-size: 18px;
        z-index: 1;
    }
    .Button {
        margin: 0;
        margin-top: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }



}

@media screen and (min-width: 641px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .overlay a {
        font-size: 40px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 11px;
        right: 35px;
    }
    #LogoMobile {
      display: none;
    } #Hamburger {
        display: none;
    }

      .hero-image {
          /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/pexels-photo-247314.webp");
          grid-column: 1/5;
          grid-row: 1/9;   

          /* Set a specific height */
          height: 124.9%;

          /* Position and center the image to scale nicely on all screens */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
        .hero-text {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-family: 'Oswald';
        }
        #Welcome {
            font-size: 48px;
            margin-bottom: 24px;

        }
        #About {
            font-size: 30px;

        }
        .hover-underline-animation {
            display: inline-block;
            position: relative;
            color: white;
          }

          .hover-underline-animation:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -7px;
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }

          .hover-underline-animation:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
          .Navagation ul {
            display:inline-flex;
            float: right;

          }
          .Navagation ul li {
            z-index: 1;
            padding: 24px;
            font-family: 'Oswald';
            font-size: 38px;

          }
          .Navagation {
            grid-column: 1/5;
            grid-row: 1;
          }
          #LOGO {
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            padding: 24px;
            font-family: 'Oswald';
            font-size: 38px;
          }
          .demo {
            position: relative;
            top: 200px;
            line-height: 1.4;
            grid-row: 10/15;
            grid-column: 1/3;
            margin-left: 175px;
          }
          .demo h1 {

            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Oswald';
          }
          .demo p {

            font-size: 20px;
            margin-bottom: 24px;
            font-family: 'Oswald';
          }


          .demo2 {
            position: relative;
            top: 875px;
            line-height: 1.4;
            grid-row: 10/15;
            grid-column: 1/3;
            margin-left: 175px;
          }
          .demo2 h1 {

            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Oswald';
          }
          .demo2 p {

            font-size: 20px;
            margin-bottom: 24px;
            font-family: 'Oswald';
          }



          .demo3 {
            position: relative;
            top: 1390px;
            line-height: 1.4;
            grid-row: 10/15;
            grid-column: 1/3;
            margin-left: 175px;
          }


          .demo3 h1 {

            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Oswald';
          }
          .demo3 p {

            font-size: 20px;
            margin-bottom: 24px;
            font-family: 'Oswald';
          }

        #DepressionImage {
            position: relative;
            top: 200px;
            grid-row: 10/15;
            grid-column: 2/5;

            width: 500px;
            margin-left: 690px;

        }
        #DepressionImage2 {
            position: relative;
            top: 845px;
            grid-row: 10/15;
            grid-column: 2/5;

            width: 400px;
            margin-left: 815px;

        }
        #DepressionImage3 {
            position: relative;
            top: 1350px;
            grid-row: 10/15;
            grid-column: 2/5;

            width: 500px;
            margin-left: 750px;

        }
          #myBtn {
            z-index: 1;
            color:#ffffff;
            background-color: #343131;
            border-color: transparent;
            border-radius: 20px;
            width: 150px;
            height: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 0;

            font-size: 18px;
            z-index: 1;
        }
        .Button {
            margin: 0;
            margin-top: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

}
